
# Package Files #
*.jar
!src/libs/mysql-connector-java-5.1.27-bin.jar
*.war
*.ear


#ant specific
dist/
build/
 
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

src/server/MulticasPeer.java
src/server/ServerTest.java
src/server/TestMS.java
